@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

.heading {
    font-family: "Arsenal SC", sans-serif;
    text-align: center;

}

body{
  
  background-image: url(https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ga Maamli", sans-serif;

}